<%- include('../_partial/_header') -%>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <p class="mb-0" style="color: #1b4d3e;font-size:20px;font-weight: bold;"><%= comment.countryName %></p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p style="font-size:16px"><b>Travel Start Date:</b> <%= comment.startDate %> mins</p>
                <p style="font-size:16px"><b>Travel Ends Date:</b> <%= comment.endDate %> mins</p>
                <p style="font-size:16px"><b>Travel Feeling:</b> <%= comment.travelFeeling %></p>
                <p style="font-size:16px"><b>Travel Tag:</b> <%= comment.tag %></p>
            </div><!-- / project-info-box -->

            <div class="project-info-box mt-0 mb-0">
                <p class="mb-0" style="font-size:16px">
                    <a href="../../comments/like/<%= comment._id %>"><img src="/views/images/like.png" name="likeComment" id="likeComment" style="width:30px;height:30px;"/></a>
                </p>
            </div><!-- / project-info-box -->
        </div><!-- / column -->
        <div class="col-md-7">
            <div id="#myCarousel" class="carousel slide">
                <!-- ???Carousel??? -->
                <ol class="carousel-indicators">
                    <% for(var i = 0; i < comment.image.length; i++){%>
                    <%if(i == 0){%>
                    <li data-target="#myCarousel" data-slide-to="<%i%>" class="active"></li>
                    <%}else{%>
                    <li data-target="#myCarousel" data-slide-to="<%i%>"></li>
                    <%}%>
                    <%}%>
                </ol>
                <!-- ???Carousel??? -->
                <div class="carousel-inner">
                    <%if (comment.image[0].length == 1) {%>
                    <div class="item active">
                        <img src="<%= '/' + comment.image %>" height="250px" />
                    </div>
                    <% }else {%>
                    <% comment.image.forEach(function (img) { %>
                    <%if (img == comment.image[0]) {%>
                    <div class="item active">
                        <img src="<%= '/' + img.path %>" height="250px" />
                    </div>
                    <% }else {%>
                    <div class="item">
                        <img src="<%= '/' + img.path %>" height="250px" />
                    </div>
                    <%}%>
                    <%})%>
                    <%}%>

                </div>
                <!-- ???Carousel??? -->
                <a class="carousel-control left" href="#myCarousel"
                   data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
                <a class="carousel-control right" href="#myCarousel"
                   data-slide="next">&rsaquo;</a>
            </div>
            <div class="project-info-box">
                <p style="font-size:16px">
                    <b>Area State: </b> <% for (var i = 0; i < comment.state.length; i++) { %>
                    <%= comment.state[i]  %>
                    <% } %>
                </p>

            </div><!-- / project-info-box -->
        </div><!-- / column -->
    </div>
    <div class="instruction-box">
        <p style="font-size:16px;"><b>Details: </b> </p>
        <p1 style="font-size:16px; "><%- comment.Details %></p1>
    </div>
</div>
<%- include('../_partial/_footer') -%>
