<%- include("../_partial/_header") -%>
	
	<div class="row">
		<div class="col-md-6">
			<h1><%= post.countryName %></h1>
		</div>
	</div>

	<div class = "row">
		<div class="col-md-6">
			<img src = "<%= '/' + post.image %>" height = "250px" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<%= post.content %>
			</div>
		</div>
	</div>

<%- include("../_partial/_footer") -%>